# ==========================================================
# Python
# ==========================================================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.*
!.env.example

# ==========================================================
# VS Code / IDE
# ==========================================================
.vscode/
.idea/
*.swp
*.swo

# ==========================================================
# Database
# ==========================================================
*.db
*.sqlite
*.sqlite3

# ==========================================================
# Logs
# ==========================================================
logs/
*.log

# ==========================================================
# Node / React
# ==========================================================
node_modules/
dist/
build/
coverage/

# ==========================================================
# Operating System
# ==========================================================
.DS_Store
Thumbs.db

# ==========================================================
# Certificates / Secrets
# ==========================================================
*.pem
*.key
*.crt
*.pfx

# ==========================================================
# Trading Bot Data
# ==========================================================
candle_cache/
instance/
uploads/
media/

instruments_nse.csv
instruments_bse.csv
instruments_bse.parquet
# ==========================================================
# Archives
# ==========================================================
*.zip
*.tar
*.gz
*.rar
TODO.md
# ==========================================================
# Python Build
# ==========================================================
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.tox/
.cache/

# ==========================================================
# Misc
# ==========================================================
*.bak
*.tmp
*.temp